<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kakapo </title>
    <link rel="alternate icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"> </script>
</head>

<body>
    <div id="container" class="container">
        <div id="output" class="container"> </div>
        <div id="vignette" class="overlay vignette"> </div>
        <div id="noise" class="overlay noise"> </div>
        <div id="ui" class="wrapper"> </div>
    </div>
</body>
</html>